@page "/appointemts"

<div class="appointments-main-div">
    <div class="appointments-container">
        <h1>Dashboard</h1>
        <p>About your current status and Health</p>
        <div class="appointment-booking-container">
            <AppointemtStats />
            <AppointmentBooking />
            <HospitalRgister />
            <UserHistoryComponent />
        </div>
    </div>
    <div class="user-activity-container">
        <div>
            <p>date</p>
        </div>
        <div class="user-activity-work">
            <h1>Activity</h1>
            <div class="user-activity-work-data">
                <div class=" user-activity-profile">
                    <div class="user-activity-profile-img">
                        <img src="https://afyasoftstore.blob.core.windows.net/public/Picture1.png" alt="">
                    </div>
                    <h1>
                        Jamal Mali
                    </h1>
                </div>
                <div class="user-activity-text">
                    <p>
                        The surgery was a success, and I am recovering well at home. I am following your instructions and taking the prescribed medication.
                    </p>
                </div>
                <div class="border-bottom"></div>
            </div>
        </div>
    </div>
</div>

@code{

}