<div class="main-container-img-item">
    <h1>@Title</h1>
    <div class="log-register">
        <img src="https://afyasoftstore.blob.core.windows.net/public/Screenshot 2023-10-04 072541.png">
    </div>
</div>

@code {
    [Parameter]
    public string? Title { get; set; }
}