.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #212122;
        border-radius: 2rem;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        font-size: 1.2rem;
    }

    .nav-icon-center{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .nav-item ::deep a svg{
        height: 25px;
        width: 25px;
    }

.nav-item ::deep a.active {
    background-color: #1D9BF0;
    color: white;
    border-radius: 2rem;
}

.nav-item ::deep a:hover {
    background-color: #1D9BF0;
    color: white;
    border-radius: 2rem;
}

.user-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 1005; */
}
.user-icon img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.user-icon p {
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
}

.navbar-top{
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }
    .navbar-top{
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
